body {
    display: flex;
    justify-content: center;
    align-items: center;
}

form {
    height: 100%;
    width: 800px;
    padding: 10px;
    border-style: solid;
    border-color: rgb(0, 133, 177);
}

.space {
    height: 20px;
    width: 6%;
}

.button {
    height: 40px;
    width: 100px;
    text-align: center;
    background-color: rgb(89, 185, 103);
    color: rgb(255, 255, 255);
    border-radius: 5px;
    border: 2px solid rgb(0, 133, 177);
    cursor: pointer;
}