body {
    display: flex;
    justify-content: center;
    align-items: center;
  }
form {
  height: 100%;
  width: 400px;
  padding: 40px;
  border-style: solid;
  border-color: rgb(0, 133, 177);
}
.table-search{
  position: absolute;
}
.showform{
  border: none;
  position: relative;
}
select{
    height: 40px !important;
    width: 100% !important;
    border: 2px solid rgb(0, 133, 177);
}
img{
  height: 40px;
  width: 40px;
}
.space{
  height: 20px;
  width: 6%;
}
.label{
  padding: 5px;
  height: 100%;
  width: 47%;
  background-color: rgb(89, 185, 103);
  color: white;
  text-align: center;
  border: 2px solid rgb(0, 133, 177);
}
input{
  border: none;
  background-color: transparent;
  resize: none;
  outline: none;
}
.input{
  height: 100%;
  width: 47%;
  border: 2px solid rgb(0, 133, 177);
}
.container{
  display: flex;
  justify-content: center;
  align-items: center;
}

.button{
  height: 40px;
  width: 100px;
  text-align: center;
  background-color: rgb(89, 185, 103);
  color: rgb(255, 255, 255);
  border-radius: 5px;
  border: 2px solid rgb(0, 133, 177);
  cursor: pointer;
}
.star{
  color:rgb(255, 65, 65);
}
.error{
  color: rgb(255, 65, 65);
}
.table-result{
  position: absolute;
  top:250px
}
.table-info{
  width: 50%;
}
.table-show-info{
  position: absolute;
  top: 400px;
}